//  Colors

// $off-black: #25274d;
// $dark-blue: #24305E;
// $blue: #374785;
// $light-blue:#303c6c;

// // $light-blue:#255f83;

// // $dark-blue: #3170be;
// // $blue: #5085a5;
// // $light-blue:#8fc1e3;

// $off-white: #aaabb8;
// $purple: #8357c5;

$dark-grey: #333;
$grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Spacing 
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$desktop-breakpoint: 45rem;

// Font Size 
$font-size-large: 1.8rem;
$font-size-small: 1.8rem;